<div class="ekart--product--container">
<!--<img [src]="products.pImage" height="400px" width="400px">
<p>Name: {{products.name}}</p>
<p>Price: ${{products.price.toFixed(2)}}</p>
<p>Color: {{products.color}}</p>
<p>Discounted Price: {{getDiscountedPrice().toFixed(2)}}</p>
<p>{{products.inStock > 0 ? "Only " + products.inStock + " Items left": " Not in Stock"}}</p>
<button (click)="decrementCart()">-</button>
<span>{{addToCart}}</span>
<button (click)="incrementCart()">+</button>-->
<app-search></app-search>
<!--div *ngFor="let item of [2,3,4,5,6]">
    <p>Current element of Array is: {{item}}</p>
</-div-->
<app-product-list></app-product-list>
</div>